@tailwind base;
@tailwind components;
@tailwind utilities;



.bar {
  position: absolute;
  width: 10px; /* Adjust as needed */
  background-color: #4299e1; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  transform: translateX(-50%);
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
